# สมาชิกกลุ่ม
- จิตติณณ์ จินดานรเศรษฐ์ 6110405949 (หัวหน้ากลุ่ม)
- รินลณี วัชรนิมมานกุล 6110401633
- กัญญาณัฐ อินทรโชติ 6110402737
- ณัฐณิชา คงสุนทร 6110402753
- นิรัติศัย คงศักดิ์ 6110406066
- พิมพ์ลภัส ตันธนกุล 6110406171
- สุรยุทธ์ บุญคล้าย 6110406252

---

# นำเข้าข้อมูล

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plot
from sklearn import preprocessing
from collections import Counter
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [2]:
df = pd.read_csv('cmc.data', header=None)

In [3]:
df.columns = ['wife_age', 'wife_edu', 'husband_edu', 'children', 'wife_islam', 'wife_working', 'husband_job', 'living_index', 'media_exposure', 'method']

In [4]:
df

,wife_age,wife_edu,husband_edu,children,wife_islam,wife_working,husband_job,living_index,media_exposure,method
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1
...,...,...,...,...,...,...,...,...,...,...
1468,33,4,4,2,1,0,2,4,0,3
1469,33,4,4,3,1,1,1,4,0,3
1470,39,3,3,8,1,0,1,4,0,3
1471,33,3,3,4,1,0,2,2,0,3
1472,17,3,3,1,1,1,2,4,0,3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1473 entries, 0 to 1472
Data columns (total 10 columns):
wife_age          1473 non-null int64
wife_edu          1473 non-null int64
husband_edu       1473 non-null int64
children          1473 non-null int64
wife_islam        1473 non-null int64
wife_working      1473 non-null int64
husband_job       1473 non-null int64
living_index      1473 non-null int64
media_exposure    1473 non-null int64
method            1473 non-null int64
dtypes: int64(10)
memory usage: 115.2 KB

# Preprocessing

In [6]:
df.wife_edu = pd.Categorical(df.wife_edu).rename_categories({1:'low', 2:'mid-low', 3:'mid-high', 4:'high'})
df.husband_edu = pd.Categorical(df.husband_edu).rename_categories({1:'low', 2:'mid-low', 3:'mid-high', 4:'high'})
df.husband_job = pd.Categorical(df.husband_job)
df.living_index =  pd.Categorical(df.living_index).rename_categories({1:'low', 2:'mid-low', 3:'mid-high', 4:'high'})
df.method =  pd.Categorical(df.method).rename_categories({1:'No-use', 2:'Long-term', 3:'Short-term'})

In [7]:
df.wife_islam = df.wife_islam.astype(bool)
df.wife_working = df.wife_working.astype(bool)
df.media_exposure = df.media_exposure.astype(bool)

In [8]:
df.wife_age = pd.cut(df.wife_age, bins=[0,17,31,46,100], right=False, 
                labels=["Children", "Young", "Middle", "Old"])

In [9]:
x = df['children'].values.reshape(-1, 1)
min_max_scaler = MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df['children'] = x_scaled

In [10]:
df

,wife_age,wife_edu,husband_edu,children,wife_islam,wife_working,husband_job,living_index,media_exposure,method
0,Young,mid-low,mid-high,0.1875,True,True,2,mid-high,False,No-use
1,Middle,low,mid-high,0.6250,True,True,3,high,False,No-use
2,Middle,mid-low,mid-high,0.4375,True,True,3,high,False,No-use
3,Middle,mid-high,mid-low,0.5625,True,True,3,mid-high,False,No-use
4,Middle,mid-high,mid-high,0.5000,True,True,3,mid-low,False,No-use
...,...,...,...,...,...,...,...,...,...,...
1468,Middle,high,high,0.1250,True,False,2,high,False,Short-term
1469,Middle,high,high,0.1875,True,True,1,high,False,Short-term
1470,Middle,mid-high,mid-high,0.5000,True,False,1,high,False,Short-term
1471,Middle,mid-high,mid-high,0.2500,True,False,2,mid-low,False,Short-term
1472,Young,mid-high,mid-high,0.0625,True,True,2,high,False,Short-term

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1473 entries, 0 to 1472
Data columns (total 10 columns):
wife_age          1473 non-null category
wife_edu          1473 non-null category
husband_edu       1473 non-null category
children          1473 non-null float64
wife_islam        1473 non-null bool
wife_working      1473 non-null bool
husband_job       1473 non-null category
living_index      1473 non-null category
media_exposure    1473 non-null bool
method            1473 non-null category
dtypes: bool(3), category(6), float64(1)
memory usage: 25.6 KB

# เรียนรู้ข้อมูล และทำนายผล

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X = pd.get_dummies(df.loc[:, 'wife_age':'media_exposure'])
y = df.method
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
from sklearn.model_selection import GridSearchCV

## SVM

In [15]:
from sklearn import svm

In [16]:
param_grid = {
    'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
    'gamma': ['scale', 'auto', 2**-5]
}

In [17]:
svc = svm.SVC()
SVM = GridSearchCV(svc, param_grid)
SVM.fit(X_train, y_train)
SVM.best_params_

{'gamma': 'scale', 'kernel': 'rbf'}

In [18]:
svm_model = svm.SVC(kernel='rbf', gamma='scale')

In [19]:
svm_model.fit(X_train, y_train)
svm_model.score(X_test,y_test)

0.4915254237288136

## Bagging

In [20]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier

In [21]:
dtc = DecisionTreeClassifier(criterion="gini")
bag_model = BaggingClassifier(base_estimator=dtc, n_estimators=100, bootstrap=True, random_state=0)
bag_model = bag_model.fit(X_train, y_train)
bag_model.score(X_test,y_test)

0.5152542372881356

## Boosting

In [22]:
from sklearn.ensemble import AdaBoostClassifier

In [23]:
ada_model = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1), n_estimators=100)
ada_model.fit(X_train, y_train)
ada_model.score(X_test,y_test)

0.5322033898305085